body {
    background-color: #4d4d4d;
    color: #0080ff;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    overflow:hidden;
    margin: 0;
    -webkit-app-region: drag;
}
header {
  background-color: #525451;
  padding: 22px;
  text-align: center;
  font-size: 43px;
  color: #0080ff;
}
.textchat{
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 17px;
  color:#0080ff
}
localVideo {
  float: right;
  padding: 0px;
  width: 50%;
  position:absolute;
  z-index: 50;
  overflow:hidden;
}
remoteVideo {
  float: right;
  padding: 20px;
  width: 50%;
  background-color: rgba(0,0,0,0);
  position:relative;
  z-index: 10;
  overflow:hidden;
}
chat {
  padding: 15px;
  width: 70%;
  bottom:125px;
  top:95px;
  right:25px;
  background-color: #f1f1f1;
  position: absolute;
  overflow:hidden;
}
uibuttons {
  padding: 20px;
  width: 30%;
  height: 100%;
}
.text {
    color: #0080ff;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    overflow:hidden;
    margin: 0;
    outline: 0;
    -webkit-app-region: no-drag;
}
.error {
    -webkit-app-region: no-drag;
    color: #ff0000;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    overflow:hidden;
    margin: 0;
}
.button {
  -webkit-app-region: no-drag;
  display: block;
  border-radius: 8px;
  background-color: #0080ff;
  border: none;
  color: #00ffff;
  text-align: center;
  font-size: 22px;
  padding: 15px;
  width: 195px;
  transition: all 0.25s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button2 {
  background-color: white;
  color: black;
  border: 2px solid #0080ff;
}

.button2:hover {
  background-color: #0080ff;
  color: white;
}
.button2 {
  background-color: #FFFFFF;
  border-radius: 6px;
  border: none;
  color: black;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 12px;
  margin: 3px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  -webkit-app-region: no-drag;
}
.sendchat {
  -webkit-app-region: no-drag;
  display: block;
  border-radius: 4px;
  background-color: #0080ff;
  border: none;
  color: #00ffff;
  text-align: center;
  font-size: 22px;
  padding: 5px;
  height: 50px;
  width: 195px;
  transition: all 0.25s;
  cursor: pointer;
  margin: 2px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.toggle-content {
	display: none;
}

.toggle-content.is-visible {
	display: block;
}
